*.Identifier
*.pyc
Res/img/
*.txt
!app/requirements.txt
test_results.xlsx
mac_addr.xlsx
mac_addr - Calculations.xlsx
*.spec
dist/ 
build/
Res/ptouch-print/build/*
!Res/ptouch-print/build/ptouch-print